/* GALLERY */

.gallery {
    text-align: center;
    padding: 140px 20px;
    color: var(--text-color);
}

.gallery h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* grid magic */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;

    max-width: 1200px;
    margin: 0 auto 40px;
}

/* images */
.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 12px;
    transition: transform 0.2s ease;
}

/* hover */
.gallery-grid img:hover {
    transform: scale(1.03);
}
